.container1{
    background-color: palevioletred;
    height: 40px;   

}
.dogpaw{
    float: right;
    height: 30px;
    width: 40px;

    
}
.h1{
    text-align: justify;

}
.nav{
    background-color: violet;
    margin: 20px;
    padding: 5px;
}
.nav1{
    color: black;
    padding: 10px 80px 0px 0px;

}

.img1 {
    width: 40px;
    height: 40px;
}

.img2 {
    width: 40px;
    height: 40px;
}

.img3 {
    width: 40px;
    height: 40px;
}

.main {
    border: 5px solid black;

}

.main::after {
    clear: both;
    display: block;
    content: "";
}


.main1 {

    border: 5px solid red;
    float: left;
    margin: 10px 0px 10px 10px;
    width: 48%;

}

.main2 {
    float: right;
    border: 5px solid red;
    width: 48%;
    margin: 10px 10px 10px 0px;
}



.div1 {
    border: 2px solid gray;
    margin: 10px;
}

.div2 {
    border: 2px solid gray;
    margin: 10px;
}